@tailwind base;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-medium;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-sm;
    }

    h6 {
        @apply text-xs;
    }

    a {
        @apply font-medium hover:text-blue-500 transition-colors;
    }
}

@tailwind components;
@tailwind utilities;

@layer components {
    button {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg whitespace-nowrap hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-colors;
    }
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    @apply text-base font-normal text-black dark:text-white bg-gray-50 dark:bg-neutral-800;
}

.app-container {
    @apply container p-5 md:p-0 mx-auto;
}

blockquote {
    @apply relative pl-5 text-neutral-500;
}

blockquote::before {
    @apply content-[''] absolute h-full w-[4px] left-0 top-0 bg-neutral-500;
}

section {
    @apply h-screen;
}

.link {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(#006eff, #006eff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out, color 0.2s ease;
}

.link:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}

p.p {
    @apply text-lg;
}

code.quote {
    @apply inline-block px-1 rounded text-base text-black bg-neutral-300 dark:bg-neutral-600 dark:text-white;
}
